.calendar-info {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.calendar-info svg {
  width: 1.5rem;
  height: 1.5rem;
}

.maps-info {
  grid-area: maps-info;
  margin-top: 1rem;
  justify-self: center;
}

.description-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: var(--color-card);
  color: var(--color-text);
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  box-shadow: var(--shadow);
}

.product-container {
  display: grid;
  grid-template-areas:
    "title title"
    "image-container additional-info"
    "maps-info maps-info";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 50%;
  margin: 5.5% 0;
}

.title {
  grid-area: title;
  justify-self: center;
}

.additional-info {
  padding: 0 1.5rem;
  margin-left: 1rem;
  grid-area: additional-info;
}

.image-container {
  background-color: var(--color-card);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: var(--shadow-md);
  width: 50%;
  height: auto;
  margin: unset;
  grid-area: image-container;
  justify-self: end;
  align-content: center;
}

.image-container .image-product {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .product-container {
    grid-template-areas:
      "title"
      "image-container"
      "additional-info"
      "maps-info";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
  }

  .maps-info {
    margin: unset;
    justify-self: center;
  }

  .image-container {
    justify-self: center;
    text-align: center;
  }

  .image-container .image-product {
    margin: 0 auto;
  }

  .calendar-info {
    margin: 0.5rem 0;
    gap: 0.3rem;
    justify-self: center;
  }

  .description-tags {
    justify-self: center;
    margin: 1.5rem 0;
  }

  .tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
  }
}

@media (max-width: 480px) {
  .product-container {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }

  .tag {
    font-size: 0.7rem;
    padding: 0.1rem 0.3rem;
  }
}