.results {
  width: 50%;
  margin: 0 auto;
}

.container-head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.tags {
  display: flex;
  gap: 0.75rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  overflow-y: scroll;
  max-height: 60vh;
  min-height: 20vh;
}

.card {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 1rem;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1rem 0;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  color: #555555;
  margin: 4px 0;
}

.card p strong {
  color: #000000;
}

.container-months {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-info p {
  color: #777777;
}

.extra-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: flex-end;
  justify-content: space-between;
}

.tag-info {
  display: flex;
  background-color: #c2eed2;
  color: var(--color-foreground);
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.tag-info:hover {
  background-color: #b7f2cd;
  transform: translateY(-1px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.tag-info p {
  font-size: 1rem;
  margin: 0;
}