---
import '@styles/herobanner.css';
import LeafIcon from '@icons/leaf-icon.svg';
---

<header>
  <section class="hero">
    <LeafIcon />
    <h1>Productos de Temporada</h1>
  </section>
  <p class="subtitle">
    Descubre los alimentos locales y de temporada en cada regi칩n de Espa침a para
    una alimentaci칩n m치s sostenible y saludable.
  </p>
</header>
