---
import LeafIcon from '@icons/leaf-icon.svg';
import '@styles/navbar.css';
---

<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/">
        <LeafIcon />
        <span>Productos de Temporada</span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <ul class="navbar-links">
        <li><a href="/" class="active">Inicio</a></li>
        <li><a href="/recetas">Recetas</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>